.drawer {
    position: fixed;
    height: 100vh;
    min-width: 10%;
    border-right: 1px solid #ccc;
  }
  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
  }
  .drawer .contents {
    padding: 16px;
  }

  .mat-drawer-container {
      height: 93%;
  }

  .mat-list-item {
      :hover {
        font-size: large;
        font-weight: bold;
        cursor: pointer;
      }
    
  }
  
  .sidNavItem > i {
      padding-right: 5px;
  }

  .main {
    background-color: #fff;
  }
  
  .main.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
  }

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
  }

  .main-header-items-right > i {
      margin-left: 1.5rem;
  }

  .main-header-items-right {
    :hover {
        cursor: pointer;
        font-size: larger
    }
}
  
  .main.contents {
    min-height: 100vh;
    margin-top: 64px; /* height of header */
    padding: 16px;
  }
  
  .main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
  }