<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/assets/pictures/milan_logo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="myForgotPasswordForm" (ngSubmit)="onSubmit()">
            <label>Erfassen Sie hier Ihre E-Mail Adresse</label>
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Ihre E-Mail"
                required autofocus>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="!myForgotPasswordForm.valid">Senden</button>
        </form>
    </div>
</div>
