<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="container">
        
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>E-Mail</mat-label>
                    <input matInput required type="email" class="form-control" id="email" name="email" [(ngModel)]="myUser.email">
                </mat-form-field>    
            </div>

            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Passwort</mat-label>
                    <input matInput required type="password" class="form-control" id="password" name="password" [(ngModel)]="myUser.password">
                </mat-form-field>    
            </div>

            <button type="button" class="btn btn-primary">
                <span class="btn-label">
                    <i class="fas fa-sign-in-alt"></i>
                </span> Login</button>
            
        </div>
        <div class="container loginWithGoogle">

            <span>OR</span>
            <button type="button" class="btn btn-primary googleLogin">
                <span class=btn-label>
                    <i class="fab fa-google"></i>
                </span> Login with Google</button>
            
        </div>
        <a href="">
            <span>Passwort vergessen?</span>
        </a>
    </div>
</div>
