<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="/assets/pictures/milan_logo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="myRegisterForm" (ngSubmit)="onSubmit()">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="Vorname"
                required autofocus>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Nachname"
                required autofocus>
            <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="E-Mail"
                required autofocus>
                <div class="alert alert-danger" role="alert"
                *ngIf="!myRegisterForm.controls.email.valid && (myRegisterForm.controls.email?.dirty || myRegisterForm.controls.email?.touched)">
                E-Mail ist nicht valide
            </div>
            <input type="password" id="inputPassword" formControlName="password" class="form-control"
                placeholder="Passwort" required>
                <div class="alert alert-danger" role="alert" *ngIf="!myRegisterForm.controls.password.valid && (myRegisterForm.controls.password?.dirty || myRegisterForm.controls.password?.touched)">
                    Passwort ist zu kurz
               </div>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                placeholder="Passwort bestätigen" required>
                <div class="alert alert-danger" role="alert" *ngIf="(myRegisterForm.controls.password.value != myRegisterForm.controls.confirmPassword.value) && (myRegisterForm.controls.confirmPassword?.dirty || myRegisterForm.controls.confirmPassword?.touched)">
                    Passwörter stimmen nicht überein!
               </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="!myRegisterForm.valid">Anmelden</button>
        </form>
    </div>
    <!--div>{{myRegisterForm.valid}}</div>
    <div>E-Mail valid: {{myRegisterForm.controls.email?.valid}}</div>
    <div>E-Mail dirty: {{myRegisterForm.controls.email?.dirty}}</div>
    <div>E-Mail touched: {{myRegisterForm.controls.email?.touched}}</div>
    <div>E-Mail pristine: {{myRegisterForm.controls.email?.pristine}}</div>
    <div>E-Mail länge: {{myRegisterForm.controls.email?.value}}</div>

    <div>password valid: {{myRegisterForm.controls.password?.valid}}</div>
    <div>password dirty: {{myRegisterForm.controls.password?.dirty}}</div>
    <div>password touched: {{myRegisterForm.controls.password?.touched}}</div>
    <div>password pristine: {{myRegisterForm.controls.password?.pristine}}</div-->
</div>