.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    justify-content: center;
}
.loginWithGoogle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}