:host {
    --color1: #84DCF1;
    --color2: #3ED6DA;
    --color3: #84F1F1;
    --color4: #84F1C5;
}

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;

    }




